  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div id="logo">VideoShare</div>
        <form class="nav navbar-nav navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="title">
          </div>
        </form>
      </div>
  </header>